.block{
  background-color: rgba($color: darkgrey, $alpha: 0.8);
  font-family: kanit;
  border-color: lightgray;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 3rem;

};

.card{
  background-color: rgba($color: lightgrey, $alpha: 0.8);
  font-weight: 300;
}


.systems{

  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 0.5rem;
  background-image: url(/images/photo-1514070706115-47c142769603.jpg);

};

.cSharp{

  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 0.5rem;
  background-image: url(/images/photo-1531482615713-2afd69097998.jpg);

}

.java{

  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 0.5rem;
  background-image: url(/images/photo-1534972195531-d756b9bfa9f2.jpg);

}

.webDev{

  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 0.5rem;
  background-image: url(/images/photo-1504164996022-09080787b6b3.jpg);

}


.jumbotron{

  font-family: kanit;
  background-image: url(images/thought-catalog-505eectW54k-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: lightgray;


}

