<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">

  <title>Document</title>
</head>
<body>
  <div class ="container">
    <div class="jumbotron text-center AboutMeJump">
      <h1  class="display-4">Skills</h1>
      <hr  class="my-4">
      <p  class="lead">The Skills I have gained over the pass three years</p>

    </div>
  </div>

  <div class="block border border rounded text-center ">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xs-12">
          <h1 class="display-4"> Languages</h1>
          <hr>
          <table>
            <tbody>
              <tr>
                <td>
                  <h1 class="display-5">C#</h1>
                </td>
                <td>

                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>


                </td>
              </tr>
              <tr>
                  <td>
                    <h1 class="display-5"> <i class="fas fa-java    "></i> java</h1>
                </td>
                <td>
                    <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                    <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                    <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                </td>
              </tr>
              <tr>
                <td>
                  <h1 class="display-5">JavaScript</h1>
                </td>
                <td>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                </td>
              </tr>
              <tr>
                <td>
                  <h1 class="display-5">C++</h1>
                </td>
                <td>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                </td>
              <tr>
                <td>
                  <h1 class="display-5"><i class="fas fa-python"></i> PYTHON</h1>
                </td>
                <td>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                </td>
              </tr>
              <tr>
                <td>
                  <h1 class="display-5"> <i class="fa fa-css3" aria-hidden="true"></i> CSS</h1>
                </td>
                <td>

                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>


                </td>
              </tr>
              <tr>
                <td>
                  <h1 class="display-5"><i class="fa fa-html5" aria-hidden="true"></i> HTML</h1>
                </td>
                <td>

                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>


                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-6 col-xs-12">
            <div class="card border border rounded">
              <div class="card-body">
                <h5 class="card-title" style="color: gold; font-style: italic"><i class="fa fa-rocket"></i>languages<i class="fa fa-rocket"></i></h5>
                <p class="card-text">Sa mentioned in the in the about me page in the three years I have been in the NWU we have be exposed to various programing languages
                  from python and C++ in your first year to C# and Java in our second year this made is easier for us to learn newer languages such as javascript and typescript.
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>
 </div>
  <div class="block border border rounded text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xm-12">
          <h1 class="display-4 underline">Development Ends</h1>
          <hr>
          <table>
            <thead>
            </thead>
            <tbody>
              <tr>
                <td>
                  <h1 class="display-5">Front End</h1>
                </td>
                <td>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                </td>
              </tr>
              <tr>
                <td>
                  <h1 class="display-5">Back End</h1>
                </td>
                <td>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                </td>
              </tr>

          </table>
      </div>
      <div class="col-lg-6 col-xs-12">
        <div class="card card border border rounded">
          <div class="card-body">
            <h5 class="card-title" style="color: gold; font-style: italic"><i class="fa fa-rocket"></i>Development<i class="fa fa-rocket"></i></h5>
            <p class="card-text">Well at the NWU, we were also give the chance to work with graphic interfaces giving us expirence in frontend and backend development in both java and C#. where we were exposed to backend programming with databases and web development using ASP.NET </p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

</body>
</html>

