<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">

  <title>Document</title>
</head>
<body>
  <div class ="container">
    <div class="jumbotron text-center AboutMeJump">
      <h1 class="display-4">Skills</h1>
      <p class="lead">The Skills i have gained over the pass three years</p>
      <hr class="my-4">
      <p>Content</p>
    </div>
  </div>

  <div class="block border border rounded text-center ">

    <div class="container">
      <div class="row">
        <div class="col-6">
            <h1 class="display-4 underline">Langauges</h1>
            <hr>
            <table>
              <thead>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <h1 class="display-5">C#</h1>
                  </td>
                  <td>

                    <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                    <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                    <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                    <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>


                  </td>
                </tr>
                <tr>
                  <td>
                    <h1 class="display-5">Java</h1>
                </td>
                <td>
                    <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                    <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                    <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                </td>
              </tr>
              <tr>
                <td>
                  <h1 class="display-5">JavaScript</h1>
                </td>
                <td>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                </td>
              </tr>
              <tr>
                <td>
                  <h1 class="display-5">C++</h1>
                </td>
                <td>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                </td>
              <tr>
              <td>
                  <h1 class="display-5">PYTHON</h1>
                </td>
                <td>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                </td>
            </tr>
              <tr>
                <td>
                  <h1 class="display-5">CSS</h1>
                </td>
                <td>

                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>


                </td>
              </tr>
              <tr>
                <td>
                  <h1 class="display-5">HTML</h1>
                </td>
                <td>

                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
                  <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>


                </td>
              </tr>
          </tbody>
          </table>
        </div>
          
      </div>

      <div class="col-6">
        <div class="row align-items-center">
          <div class="col">
          <img class="img-fluid" src="images/photo-1531482615713-2afd69097998.jpg" alt="">
            
          </div>
          <div class="col">
            <img class="img-fluid" src="images/photo-1580894906475-403276d3942d.jpg" alt="">

          </div>
        </div>

        
      </div>

    </div>
    

  </div>



  <div class="block border border rounded text-center">
    <h1 class="display-4 underline">Development Ends</h1>
    <hr>
    <table>
      <thead>
      </thead>
      <tbody>
        <tr>
          <td>
            <h1 class="display-5">Front End</h1>
          </td>
          <td>
            <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
            <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
            <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
          </td>
        </tr>
        <tr>
          <td>
            <h1 class="display-5">Back End</h1>
          </td>
          <td>
            <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
            <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
            <span><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></span>
          </td>
        </tr>

    </table>
  </div>


</body>
</html>

