.block{
  background-color: lightgrey;
  font-family: kanit;
  border-color: lightgray;
  margin-left: 3em;
  margin-right: 3em;
  padding: 3em;
}

.cardStyle{

  background-color: lightgrey;
  font-family: kanit;
  border-color: lightgray;
  margin-top: 2em;

}

/*.jumbotron{

  font-family: kanit;
  background-image: url(images/ilya-pavlov-OqtafYT5kTw-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: lightgray;


}*/

body{
  background-image: url(images//shane-aldendorff-mQHEgroKw2k-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}
